<li data-id="<%= task.id %>">
<strong class="title"><%= task.title %></strong>  --  <span class="description"><%= task.description %></span>
<% if task.completed %>
  <%= button_to "Clear Task", task_path(task.id), form_class: "delete", method: :delete %>
  <%= form_for task, html: { class: "completed" } do |form| %>
    <%= form.hidden_field :completed, value: 0 %>
    <%= form.submit "Uncomplete task" %>
  <% end %>
<% else %>
  <%= form_for task, html: {class: "incomplete" } do |form| %>
    <%= form.hidden_field :completed, value: 1 %>
    <%= form.submit "Complete Task" %>
  <% end %>
<% end %></li>
